spring:
  application:
    name: leader-service
  datasource:
    username: root
    url: jdbc:mysql://localhost:3306/assign_leader
    driverClassName: com.mysql.cj.jdbc.Driver
    password: root@123
  jpa:
    database-platform: org.hibernate.dialect.MySQL5InnoDBDialect
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    hibernate:
      ddl-auto: update
eureka:
  client:
    serviceUrl:
      defaultZone: ${EUREKA_URI:http://localhost:9090/eureka}
server:
  port: 9092
uri:
  party-service: http://localhost:9091/party/
  development-service: http://localhost:9091/party/